.card_main {
  color: white;
  width: 500px;
  height: 150px;
}

.grid_container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns in a row */
  gap: 30px; /* Adjust the gap as needed */
}

.grid_item {
  display: flex;
  gap: 10px;
}
.input_text {
  width: 40px;
}

.btn_generate:hover {
  cursor: pointer;
  color:red;
}
.btn_box {
  display: flex;
  justify-content: center;
}
.btn_generate {
  all: unset;
  margin-top: 50px;
  font-size: x-large;
  color: rgb(6, 255, 197);
  background-color: rgb(197, 166, 166);
  border-radius: 10px;
  padding: 20px;
  
}
